<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onion.template.spring.boot.mybatis.mapper.AsseAttributeMapper">
  <resultMap id="BaseResultMap" type="com.onion.template.spring.boot.mybatis.entity.AsseAttribute">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="attribute_id" jdbcType="BIGINT" property="attributeId" />
    <result column="attribute_name" jdbcType="VARCHAR" property="attributeName" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
  </resultMap>
</mapper>