<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onion.template.spring.boot.mybatis.mapper.AssetsMapper">
  <resultMap id="BaseResultMap" type="com.onion.template.spring.boot.mybatis.entity.Assets">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="assets_id" jdbcType="BIGINT" property="assetsId" />
    <result column="assets_sn" jdbcType="VARCHAR" property="assetsSn" />
    <result column="assets_name" jdbcType="VARCHAR" property="assetsName" />
    <result column="assets_source" jdbcType="VARCHAR" property="assetsSource" />
    <result column="assets_time" jdbcType="TIMESTAMP" property="assetsTime" />
    <result column="assets_type_id" jdbcType="BIGINT" property="assetsTypeId" />
    <result column="assets_status" jdbcType="INTEGER" property="assetsStatus" />
    <result column="depreciation_way_id" jdbcType="BIGINT" property="depreciationWayId" />
    <result column="assets_value" jdbcType="DOUBLE" property="assetsValue" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="service_life" jdbcType="BIGINT" property="serviceLife" />
    <result column="count" jdbcType="BIGINT" property="count" />
    <result column="consumable" jdbcType="TINYINT" property="consumable" />
    <result column="repair_status" jdbcType="TINYINT" property="repairStatus" />
    <result column="states" jdbcType="TINYINT" property="states" />
  </resultMap>
</mapper>