<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onion.template.spring.boot.mybatis.mapper.LimitedMapper">
  <resultMap id="BaseResultMap" type="com.onion.template.spring.boot.mybatis.entity.Limited">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="limited_id" jdbcType="BIGINT" property="limitedId" />
    <result column="limited_type" jdbcType="INTEGER" property="limitedType" />
    <result column="limited_remarks" jdbcType="VARCHAR" property="limitedRemarks" />
  </resultMap>
</mapper>