<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onion.template.spring.boot.mybatis.mapper.TypeMapper">
  <resultMap id="BaseResultMap" type="com.onion.template.spring.boot.mybatis.entity.Type">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_status" jdbcType="TINYINT" property="typeStatus" />
    <result column="type_time" jdbcType="TIMESTAMP" property="typeTime" />
  </resultMap>
</mapper>